<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9i2riduMrt6p-_itkw2scz6x4z-2hM3U</string>
	<key>GCM_SENDER_ID</key>
	<string>393458044744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sosVision.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sos-vision</string>
	<key>STORAGE_BUCKET</key>
	<string>sos-vision.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393458044744:ios:d994a345c04c3e78c2ad7d</string>
</dict>
</plist>